raw
trainedModel
emptyStructure
augmentedTest/one/*.png
augmentedTest/two/*.png
augmentedTest/three/*.png
augmentedTest/four/*.png
augmentedTest/five/*.png
augmentedTest/six/*.png
augmentedTrain/one/*.png
augmentedTrain/two/*.png
augmentedTrain/three/*.png
augmentedTrain/four/*.png
augmentedTrain/five/*.png
augmentedTrain/six/*.png
augmentedValid/one/*.png
augmentedValid/two/*.png
augmentedValid/three/*.png
augmentedValid/four/*.png
augmentedValid/five/*.png
augmentedValid/six/*.png
emptyStructure
seedImages_zoomOut
